@use squs_models::{instance::Instance, users::User};
@use templates::base;
@use template_utils::*;

@(ctx: BaseContext, instance: Instance, admin: User)

@:base(ctx, i18n!(ctx.1, "About {0}"; instance.name.clone()), {}, {}, {
    <h1>@i18n!(ctx.1, "About {0}"; instance.name)</h1>
    <section>
    @Html(instance.short_description_html)

    <p>@i18n!(ctx.1, "Runs Squs {0}"; env!("CARGO_PKG_VERSION"))</p>
    <p>@i18n!(ctx.1, "Administred by {}"; admin.name())</p>
    </section>

        </div>
        </section>
    </div>
    <section>
      @Html(instance.long_description_html)
    </section>
})
