@use templates::{base, partials::post_card, users::header};
@use template_utils::*;
@use squs_models::users::User;
@use squs_models::posts::Post;
@use squs_models::CONFIG;
@use routes::*;

@(ctx: BaseContext, user: User, recents: Vec<Post>)

@:base(ctx, i18n!(ctx.1, "Home"), {}, {}, {
    @:header(ctx, &user)

    @tabs(&[
        (&uri!(instance::index).to_string(), i18n!(ctx.1, "Home"), true),
        (&uri!(user::followers: page = _).to_string(), i18n!(ctx.1, "Subscribers"), false),
    ])

    @if !recents.is_empty() {
        <div class="h-feed">
            <h2>
                <span class="p-name">@i18n!(ctx.1, "Latest articles")</span>
            </h2>
            <div class="cards">
                @for article in recents {
                    @:post_card(ctx, article)
                }
            </div>
        </div>
    } else {
        <p class="center">
            @i18n!(ctx.1, "Your articles will appear here, but you didn't published anything yet.")
        </p>
    }

    <h1>@i18n!(ctx.1, "How to display Squs comments on your website?")</h1>

    <p>@i18n!(ctx.1, "Copy this code snippet on your article pages, and it will load Squs comments.")</p>
    <pre><code>
&lt;div id=&quot;squs&quot;&gt;
    &lt;noscript&gt;
        &lt;p class=&quot;error&quot;&gt;
            @i18n!(ctx.1, "Squs is loading your comments… Please make sure you use a recent version of your web browser, and that JavaScript is enabled.")
        &lt;/p&gt;
    &lt;/noscript&gt;
&lt;/div&gt;
&lt;script src=&quot;https://@CONFIG.base_url/@uri!(static_files: file = "squs.js")&quot;&gt;&lt;/script&gt;
&lt;script&gt;
    new Squs('@CONFIG.base_url', '@user.get_token(ctx.0).unwrap_or_else(|_| i18n!(ctx.1, "Error while generating this script. Try to refresh the page."))');
&lt;/script&gt;
    </code></pre>

    <p>Then, in the script you use to publish your blog (generally a CI system), run this command:</p>
    <pre><code>
curl -H 'Authorization: Bearer @user.get_token(ctx.0).unwrap_or_else(|_| i18n!(ctx.1, "'Error while generating this script. Try to refresh the page.'"))' 'https://@CONFIG.base_url/api/v1/posts/feed?url=ATOM_FEED'
    </pre></code>
    <p>And replace <b>ATOM_FEED</b> by the URL of the Atom feed of your blog.</p>
})
