@use template_utils::*;
@use squs_models::users::User;
@use routes::*;

@(ctx: BaseContext, user: &User)

<div class="h-card">
    <div class="user">
        <div class="flex wrap">
            @avatar(&user, Size::Medium, false, ctx.1)

            <h1 class="grow flex vertical">
                <span class="p-name">@user.name()</span>
                <small class="p-nickname">@user.fqn</small>
            </h1>

            <p>
                @if user.is_admin {
                    <span class="badge">@i18n!(ctx.1, "Admin")</span>
                }

                <a href="@uri!(user::edit)" class="button inline-block">@i18n!(ctx.1, "Edit your profile")</a>
            </p>
        </div>
    </div>
    <div class="user-summary p-note">
        @Html(user.summary_html.clone())
    </div>
</div>
